body{
	background-color: #39a379;
	color:#333;
	font-family: "Comic Sans", Arial;
	font-size: 16px;
	margin:0;
	text-align: center;
}
footer,header,section{
	background:rgba(20,20,20,0.75);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
	color:#DDD;  
	margin:1em auto;
	padding: 1em;
	width: 90%;

}
header{background: url("logo3.png")no-repeat 1em center,url("fondo.jpg");}

header h1{
	font-family: "Rye",Arial;
	font-size: 3em;
	text-shadow: rgba(0,0,0,0.8)2px 2px 10px;
	transition: all 1s ease-in-out;
}
header h1:hover{
	color:#39a373;
	font-size: 3.2em;
	text-shadow: rgba(0,0,0,0.8)2px 2px 10px;
	transition: all 1s ease-in-out;
	text-shadow: #ddd 0px 2px 1px,#ddd 2px 4px 2px,#ddd 4px 6px 3px,#ddd 6px 8px 4px;
	transform: rotate(7deg) rotateX(30deg) skewX(5deg);

}
#formulario{
	background-color: #2c492d;
	border-radius: 0.5em;
	color:white;
	font-size: 1.8em;
	margin: 0.5em auto;
	padding: 0.5em;
	width: 30%;
	cursor: pointer;
	border:4px solid #78999c;
	transition-property: background-color;
	transition-duration:2s;
}
#formulario:hover{
	background-color: #567f74;
	width:20%;
	font-size: 0.75em
}